@import "nes-ui-react";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nes-ui-select select {
  margin-bottom: 0;
}

.nes-ui-select:after {
  top: calc(50% - 6px);
}

html.nes-ui * {
  font-size: 1rem;
}

.suggestions {
  border: 1px solid #ccc;
  border-top: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #eee;
}

.typeOfName {
  label {
    margin-top: 0;
  }
}

.desktop-only {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.mobile-only {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nes-ui-button-wrapper.nes-ui-border-inverted,
.nes-ui-icon-button-wrapper.nes-ui-border-inverted,
.nes-ui-button-wrapper,
.nes-ui-icon-button-wrapper {
  border-width: 2px;
}

.loading {
  opacity: 0.3;
}

.spinner .nes-ui-pixelicon.nes-ui-is-size-medium * {
  width: 80px;
  height: 80px;
  transition: all 0.3s;
  animation: spin 1s linear infinite;
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  transform: translate(-50%, -50%);
}
