@import "nes-ui-react";

@tailwind base;
@tailwind components;
@tailwind utilities;

.nes-ui-select select {
  margin-bottom: 0;
}

.nes-ui-select:after {
  top: calc(50% - 6px);
}

html.nes-ui * {
  font-size: 1rem;
}

.suggestions {
  border: 1px solid #ccc;
  border-top: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #eee;
}

.typeOfName {
  label {
    margin-top: 0;
  }
}
