.button {
  @include radius4;
  align-items: center;
  appearance: none;
  background: $primary;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-size: $size-16;
  text-transform: uppercase;
  font-weight: bold;
  gap: $size-5;
  line-height: $line-height-single;
  outline-offset: $size-2;
  padding: $size-8 $size-16;
  text-align: center;
  transition-property: background-color, color, box-shadow;
  transition: $transition;

  &:focus {
    @media screen and (min-width: ($sm)) {
      outline: $size-4 solid $red;
    }
  }

  &:hover {
    @media screen and (min-width: ($sm)) {
      text-decoration: none;
      opacity: 1;
      box-shadow: $box-shadow-1;
      background-color: lighten($color: $primary, $amount: 7);
    }
  }

  &.small {
    padding: $size-6 $size-12;
    font-size: $size-12;
  }

  &.unstyled {
    @include unstyledButton;
  }

  &.secondary {
    background-color: $secondary;

    &:hover {
      background-color: lighten($color: $secondary, $amount: 15);
    }
  }

  &.tertiary {
    background-color: $tertiary;

    &:hover {
      background-color: lighten($color: $tertiary, $amount: 10);
    }
  }
}
