.tagItem {
  display: inline-block;
  padding: $size-4 $size-8;
  font-size: $size-12;
  letter-spacing: $size-1;
  font-weight: 800;
  color: $white;

  a {
    color: $white;
  }

  &.primary {
    background-color: $primary;
  }

  &.secondary {
    background-color: $secondary;
  }

  &.tertiary {
    background-color: $tertiary;
  }
}
