.tagItem {
  display: inline-block;
  padding: $size-4 $size-8;
  font-size: $size-12;
  letter-spacing: $size-1;
  font-weight: 800;
  color: $black;

  a {
    color: $black;
  }

  &.primary {
    background-color: $lightBlue;
  }

  &.secondary {
    background-color: $lightGreen;
  }

  &.tertiary {
    background-color: $lightOrange;
  }
}
